<div class="culture-selector">
    <button class="btn btn-sm btn-outline-secondary" @onclick='() => SetCulture("en-GB")'>EN</button>
    <button class="btn btn-sm btn-outline-secondary" @onclick='() => SetCulture("el-GR")'>EL</button>
</div>
