@inherits LayoutComponentBase

<ImpersonationBanner />

<header>
    <NavMenu>
        <TrailingContent>
            <CultureSelector />
            <AvatarDropdown />
        </TrailingContent>
    </NavMenu>
</header>

<main class="content">
    @Body
</main>
