@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="avatar-dropdown" @onfocusout="HandleFocusOut" tabindex="-1">
            <button class="avatar-button" @onclick="ToggleDropdown" @onclick:stopPropagation="true" title="User menu">
                @if (!string.IsNullOrEmpty(avatarDataUrl))
                {
                    <img src="@avatarDataUrl" alt="Avatar" class="avatar-img" />
                }
                else
                {
                    <span class="bi bi-person-circle avatar-icon"></span>
                }
            </button>

            @if (isOpen)
            {
                <div class="dropdown-menu-custom">
                    <a class="dropdown-item-custom" href="profile" @onclick="Close">
                        <span class="bi bi-person" aria-hidden="true"></span> User Profile
                    </a>
                    @if (_isImpersonating)
                    {
                        <span class="dropdown-item-custom text-muted" style="cursor:default;">
                            <span class="bi bi-slash-circle" aria-hidden="true"></span> Use 'Exit Impersonation' to stop
                        </span>
                    }
                    else
                    {
                        <button class="dropdown-item-custom" @onclick="HandleLogout">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Log Out
                        </button>
                    }
                </div>
            }
        </div>
    </Authorized>
</AuthorizeView>

