<div class="culture-selector">
    <button class="btn btn-sm btn-outline-secondary" @onclick='() => SetCulture("en")'>EN</button>
    <button class="btn btn-sm btn-outline-secondary" @onclick='() => SetCulture("el")'>EL</button>
</div>

