@page "/disabled"

<PageTitle>Account Disabled</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-danger mb-4">Account Disabled</h2>
            <p class="lead">
                Your account has been disabled by an administrator.
            </p>
            <p>
                If you believe this is a mistake, please contact support for assistance.
            </p>
            <a href="/login" class="btn btn-primary mt-3">Back to Login</a>
        </div>
    </div>
</div>
